/*Applies flexbos properties to the elements with the .about class*/
.about {
  display: flex;
  justify-content: space-between; /*space-between sets the gap between the items to 4rem and adds a scroll margin of 20rem at the top of the container below*/
  gap: 4rem;
  scroll-margin-top: 20rem;
}

.about .about_left {
  max-width: 40rem;
  flex: 1;
}

.about .about_left p {
  margin: 1rem 0 2rem;
}

.about .about_left ul {
  margin-left: -1.2rem;
}

.about .about_left ul li {
  display: inline-block;
}

.about .about_left ul li a {
  display: inline-block;
  padding: 1rem;
}

.about .about_right {
  flex: 1;
  max-width: 66rem;
}

/*This media query targets screens with a maximum width of 768px*/
@media only screen and (max-width: 768px) {
  .about {
    flex-direction: column; /*Sets the flex container wth the class .about to have a columm layout to be positioned horizontally*/
    align-items: center; /*Center the child elements vertically within the flex container*/
  }

  .about .about_left {
    max-width: 66rem;
    text-align: center;
  }

  .about .about_right {
    text-align: center;
  }
}
